.grid-container{
  display: inline-block;
  column-count: 3;
  
}

.App{
  text-align: center;
 
 
}

h2{
  color: aliceblue;
}

button{
   display: block;
   margin-left: auto;
   margin-right:auto;
   font-size: large;
   margin-top: 20px;
   padding: 2px;

}

.card{
   padding: 20px;
   margin: 3px;
   font-size: xx-large;
   font-weight: bolder;
   background-color: beige;
}